<html lang="en" ng-app="triller">
  <head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Triller</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
      body { background-color: #fafafa; }
      nav, main { padding: 1rem 0; }
      .project-board > div > .container { max-width: 100% !important; padding: 1rem; }
      .modal-background { background-color: rgba(10,10,10,.6); }
      .card { cursor: pointer; }
      .card-footer-item { padding: .25rem; flex-basis: inherit; }
      .gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
      }
      .gu-hide {
        display: none !important;
      }
      .gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
      }
      .gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
      }
    </style>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <div ng-controller="MainController as scope" ng-cloak>
      <site-nav user="scope.user"></site-nav>
      <div class="container">
        <define-route path="/">
          <div>
            <h1>Home</h1>
          </div>
        </define-route>

        <define-route path="/projects" authenticate="true">
          <all-projects ng-if="scope.user" user="scope.user"></all-projects>
        </define-route>

        <define-route path="/projects/(\d)+" authenticate="true" ctrl="scope">
          <project-board ng-if="scope.user" user="scope.user"></project-board>
        </define-route>

        <div class="login" ng-if="scope.showLoginForm">
          <h1 class="title">You are not authorized to view this page.</h1>
          <h2 class="subtitle">Please log in</h2>
        </div>
      </div>

      <task-view task="scope.selectedTask"></task-view>
      
      <modal-overlay key="add-project" title="Add Project">
        <add-project></add-project>
      </modal-overlay>

      <modal-overlay key="edit-project" title="Edit Project">
        <edit-project></edit-project>
      </modal-overlay>

      <modal-overlay key="add-task" title="Add Task">
        <add-task></add-task>
      </modal-overlay>

      <modal-overlay key="edit-task" title="Edit Task">
        <add-task></add-task>
      </modal-overlay>

      <modal-overlay key="log-in" title="Enter your credentials" on-submit="scope.login()" loading="scope.loginForm.loading">
        <article class="message is-danger" ng-show="!form.$pristine && scope.loginForm.failed">
          <div class="message-body">
            <strong>Login failed!</strong> Please make sure your credentials are correct.
          </div>
        </article>
        <form name="form" novalidate>
          <p class="control has-icon">
            <input class="input" type="email" name="email" placeholder="Email" ng-model="scope.loginForm.email" required>
            <span class="icon is-small">
              <i class="fa fa-envelope"></i>
            </span>
            <span ng-show="form.$submitted || form.email.$touched">
              <span ng-show="form.email.$error.required" class="help is-danger">Tell us your email.</span>
              <span ng-show="form.email.$error.email" class="help is-danger">This email is invalid</span>
            </span>
          </p>

          <p class="control has-icon">
            <input class="input" type="password" name="password" placeholder="Password" ng-model="scope.loginForm.password" required>
            <span class="icon is-small">
              <i class="fa fa-lock"></i>
            </span>
            <span ng-show="form.$submitted || form.password.$touched">
              <span ng-show="form.password.$error.required" class="help is-danger">Please enter your password.</span>
            </span>
          </p>
        </form>
      </modal-overlay>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-resource.js"></script>
    <script src="lb-services.js"></script>
    <script src="build/bundle.js"></script>
  </body>
</html>
